<div id="title">
    LMP Garden's
</div>

<link href="https://fonts.googleapis.com/css?family=Cormorant+Unicase:600" rel="stylesheet">

<div id="container">
       
    <h1>&bull; About Us &bull;</h1>

    <div class="underline">
    </div>
    <div id="text">My business, Amanda’s Garden Consulting Company, located in North Delta, British Columbia, Canada, keeps me busy trouble-shooting client’s garden woes as well as garden design. It is very satisfying to assist people with their dream by converting their outdoor spaces into low maintenance, beautiful and usable suited just for them and their lifestyles. 
 
        I have lived in many countries and moved my business with me. I initially started my garden consulting company, of all places, in Fort McMurray, Alberta. I then moved to Surrey, B.C., for 5 years then spent 10 years in Florida. Not only did I continue with my consulting company from USDA Zone 0 to 10, I taught and developed gardening courses there too.
         
        As an avid garden writer, I have had weekly garden articles for numerous publications in Canada and America including newspapers and magazines. Due to the need of a good reference book when I was with my clients in Florida, I authored and provided the photographs for the very successful book, Ornamental Tropical Shrubs, published in 2003 by Pineapple Press. It is also available at amazon.com. My horticultural photographs were also on display at Wildchild Art Gallery and I sold my photos to numerous publications.
        
       
         </div>
    
    
   
  </div><!-- // End #container -->
  