.mat-toolbar {
    background-color: darkolivegreen;
}

.nat-btn {
    margin-right: 2em;
    background-color: cadetblue;
}

.spacer {
    margin-left: 2em;
    margin-right: 2em;
}

.expand {
    flex: 1 1 auto;
}