.mat-toolbar {
    background-color: darkolivegreen;
}

.nat-btn {
    margin-right: 2em;
    background-color: pink;
    font-family: 'Kaushan Script', cursive;
}

.spacer {
    margin-left: 2em;
    margin-right: 2em;
}

.expand {
    flex: 1 1 auto;
   
}
.mat-toolbar{
    background-color: green;
    font-family: 'Archivo Black', sans-serif;
}
